---
---

@import "minimal-mistakes";
.author__avatar img {
  border-radius: 0 !important;
}

/* Make avatar substantially bigger */
.sidebar__right .author__avatar,
.author__avatar {
  width: 280px;
}

.sidebar__right .author__avatar img,
.author__avatar img {
  width: 100%;
  max-width: none;
}
/* Center avatar in author column */
.author__avatar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
